[Unit]
Description=HOMEPI launcher service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/node /home/pi/homepi/launcher/index.js

[Install]
WantedBy=multi-user.target
